<footer>
    <div class="f_info">
        <div class="f_info_socials">
            <i class="fa-brands fa-square-facebook"></i>
            <i class="fa-brands fa-instagram"></i>
            <i class="fa-brands fa-linkedin"></i>
        </div>
        <div class="f-info-brand">&copy;wanderlust private limited</div>
        <div class="f_links">
            <a class="/privacy f_link">Privacy</a>
            <a href="\terms f_link">Terms</a>
        </div>
    </div>
</footer>