<% layout("layouts/boilerplate")%>
    <div class="row mt-3">
        <h3 class="col-6 offset-3">Singup on wanderlust</h3>
        <div class="col-6 offset-3">
            <div class="card-listing">
<form action="/signup" method="POST" class="needs-validation" novalidate>
                <div class="mb-3">
                    <label for="usernmae" class="form-label">username</label>
                    <input type="text" name="username" placeholder="enter username" class="form-control" id="username"
                        required />
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
                <div class="mb-3">
                    <label for="email" class="form-label">email</label>
                    <input type="email" name="email" placeholder="enter email" class="form-control" id="email"
                        required />
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">password</label>
                    <input type="password" name="password" placeholder="enter text" class="form-control" id="text"
                        required />
                </div>

                <button class="btn btn-success">signup</button>
            </form>
            </div>
            

        </div>
    </div>